## BINARIES ##
bin/*
*.exe
*.dll
*.so
*.dylib


## STDERR STDOUT ##
*.out
*.err


## DIRECTORY SPECIFIC ##
go.work
.mcoder-workspace


## DIRECTORIES ##
.githooks
.nomad
.playbooks


## FILES ##
build.sh
.agentignore


## IDE ##
.vscode/
.idea/
*.swp
*.swo
*~


## OS ##
.DS_Store
Thumbs.db
__pycache__

## LOGS ##
*.log
*.gz


## TEMPORARY ##
tmp/*
temp/*
